<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default site.Language.Lang }}">
{{- partial "head.html" . -}}
<header>
	{{- partial "navigation.html" . -}}
</header>
<body>
	{{- partial "headerimage.html" . -}}
	<div class="content">
		{{- partial "breadcrumbs.html" . -}}
		{{- block "main" . }}
		{{- end }}
	</div>
	<div class="share-button">
		<h1 class="">{{ i18n "please_share" }}</h1>
		{{- partial "share-buttons.html" . -}}
	</div>
	{{- partial "footer.html" . -}}
	{{- partial "scroll-top.html" . -}}
	{{- partial "support-button.html" . -}}
</body>
</html>
