<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default site.Language.Lang }}">
{{- partial "head.html" . -}}
<header>
	{{- partial "navigation.html" . -}}
</header>
<body>
	{{- partial "search-bar.html" . -}}
	{{- partial "headerimage.html" . -}}
	<div class="content">
		{{- block "main" . }}
		{{- end }}
	</div>
	{{ $portrait := $.Site.Params.portrait_fabandmina }}
	{{ $name := "fab_mina" }}
	{{ $bio := "about_fab_mina" }}
	{{/* configure author according to params*/}}
	{{ with .Page.Params.Author }}
	{{ if eq . "fab"}}
	{{ $portrait = $.Site.Params.portrait_fab }}
	{{ $name = "fab" }}
	{{ $bio = "about_fab" }}
	{{ else if eq . "mina"}}
	{{ $portrait = $.Site.Params.portrait_mina }}
	{{ $name = "mina" }}
	{{ $bio = "about_mina" }}
	{{ end }}
	{{ end }}
	{{/* END*/}}
	{{ if or 
		(eq .Type "blog")
		(eq .Kind "taxonomy")
		(eq .Kind "term") }}
	{{- partial "author.html" (dict "context" . "portrait" $portrait "name" $name "bio" $bio) -}}
	{{ end }}
	{{/*  <div class="share-button">
		<h1 class="">{{ i18n "please_share" }}</h1>
		{{- partial "share-buttons.html" . -}}
	</div>  */}}
	{{- partial "footer.html" . -}}
	{{- partial "scroll-top.html" . -}}
	{{- partial "support-button.html" . -}}
</body>
</html>
