
{{define "main"}}
<!--$paginator-->
{{$p := .Pages}}
{{$paginator := .Paginate $p}}
<!--list-->
<div class="list-grid">
	{{range $paginator.Pages}}
	<div class="list-item">
		<a href="{{.RelPermalink}}">
		<div class="list-thumbnail">
			{{- partial "thumbnail.html" . -}}
		</div>
		<div class="caption">
			<h2>{{.Title}}</h2>
		</div>
			<div class="overlay">
				{{- partial "introduction.html" . -}}
				<div class="date">
					~ {{.PublishDate.Format "2 January 2006"}}
				</div>
			</div>
		</a>
	</div>
	{{end}}
</div>
<!--pagination-->
{{template "_internal/pagination.html" .}}

{{end}}


