
  {{ define "main" }}
  {{- partial "breadcrumbs.html" . -}}
  <h1 style="margin: 0;">{{ i18n "blog" | default "Blog"}}</h1>
  {{/*  Display categories if blog  */}}
  <div class="taxonomy-container">
    <ul>
      <li>
		{{ if eq (.Type) ("blog") }}
		<a href="{{ "/blog/" | relLangURL }}" class="active">{{ i18n "_all" }}</a>
		{{ else }}
		<a href="{{ "/blog/" | relLangURL }}">{{ i18n "_all" }}</a>
		{{ end }}
      </li>
      {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
      {{ if eq ($.Title) ($name)}}
      <li><a href="{{ "/blog/" | relLangURL }}{{ $name | urlize }}" class="active">{{ i18n $name  | default $name | humanize }}</a></li>
      {{ else }}
      <li><a href="{{ "/blog/" | relLangURL }}{{ $name | urlize }}">{{ i18n $name | default $name | humanize }}</a></li>
      {{ end }}
      {{ end }}
    </ul>
  </div>
  {{/*  {{ end }}  */}}

<div class="list-grid">
  {{/*  List all pages inside blogs/ if current page is blogs/  */}}
	{{ if eq (.Name) ("blog") }}
	{{$current_language_pages := slice }}
	{{ range where .Site.Pages "Type" "blog" }}
  {{/* List all pages from current language */}}
	{{ if eq (.Language) (.Site.Language) }}
	{{ $current_language_pages = $current_language_pages | append (.) }}
	{{ end }}
	{{ end }}
	{{$sp := $current_language_pages}}
	{{$spaginator := .Paginate $sp}}
	{{ range $spaginator.Pages.ByDate.Reverse }}
	{{- partial "list-items.html" . -}}
	{{ end }}
  {{/* List only pages from current language  and direct children of the current collection */}}
	{{ else }}
	{{$p := .Pages}}
	{{$paginator := .Paginate $p}}
	{{range $paginator.Pages.ByDate.Reverse }}
	{{- partial "list-items.html" . -}}
	{{end}}
	{{end}}
</div>



<!--pagination-->
{{template "_internal/pagination.html" .}}

{{- partial "tags-style.html" . -}}
{{ end}}
