
{{define "main"}}
    <h1>
	{{ if eq (i18n .Title) ("")}}
	{{ .Title }}
	{{ else }}
	{{ i18n .Title }}
	{{ end }}
    {{- partial "written-by.html" . -}}
    </h1> 
    <h4>{{- partial "subtitle.html" . -}}</h4>
    {{/*  {{- partial "toc.html" . -}}  */}}
<div class="thumbnail-single">
    {{- partial "thumbnail.html" . -}}
</div>
    {{- partial "introduction.html" . -}}
    {{/*  {{- partial "side-column.html" . -}}  */}}
    {{.Content}}
    {{- partial "flickr.html" . -}}
    {{- partial "map.html" . -}}
<hr>
{{/*  <div class="postfooter">{{- partial "postfooter.html" . -}}</div>  */}}
{{end}}
