
{{define "main"}}
<div class="title">
    <h1>{{.Title}}</h1>
</div>
    {{- partial "subtitle.html" . -}}
    {{/*  {{- partial "toc.html" . -}}  */}}
<div class="thumbnail-single">
    {{- partial "thumbnail.html" . -}}
</div>
    {{- partial "introduction.html" . -}}
    {{- partial "map.html" . -}}
    {{.Content}}
    {{- partial "flickr.html" . -}}
<div class="share-button">{{- partial "share-buttons.html" . -}}</div>
<hr>
<div class="postfooter">{{- partial "postfooter.html" . -}}</div>
{{end}}
