{{ define "main" }}
  {{/*  <div class="container">
    <h1>{{ i18n .Title }}</h1>
    <ul>
      {{ range .Data.Pages }}
        <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
  </div>  */}}

  <h1>{{ i18n .Type }}</h1>
  <div class="taxonomy-container">
    <ul>
      <li>
        <a href="{{ "/blogs/" | relLangURL }}">{{ i18n "_all" }}</a>
      </li>
      {{ range $name, $taxonomy := .Site.Taxonomies.blogs }}
      {{ if eq ($.Title) ($name)}}
      <li><a href="{{ "/blogs/" | relLangURL }}{{ $name | urlize }}" class="active">{{ i18n $name }}</a></li>
      {{ else }}
      <li><a href="{{ "/blogs/" | relLangURL }}{{ $name | urlize }}">{{ i18n $name }}</a></li>
      {{ end }}
      {{ end }}
    </ul>
  </div>

<!--$paginator-->
{{$p := .Data.Pages}}
{{$paginator := .Paginate $p}}
<!--list-->
<div class="list-grid">
	{{range where $paginator.Pages "Section" $.Page.Title }}
	{{- partial "list-items.html" . -}}
	{{end}}
</div>
<!--pagination-->
{{template "_internal/pagination.html" .}}

<style>
  .taxonomy-container {
    display: flex;
    align-items: center;
    text-align: center;
    flex-basis: 100%;
    margin: 20px auto;
    width: 100%;
    flex-direction: row;
  }
  .taxonomy-container ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }
  .taxonomy-container ul li a{
    padding: .4rem .7rem;
    margin: 0 5px;
    background-color: {{ $.Site.Params.theme.light.color_cta_primary }};
    border-radius: 20px;
    text-decoration: none;
    color: {{ $.Site.Params.theme.light.color_cta_primary_font }};
  }
  body.dark-mode .taxonomy-container ul li a{
    background-color: {{ $.Site.Params.theme.dark.color_cta_primary }};
    color: {{ $.Site.Params.theme.dark.color_cta_primary_font }};
  }
  .taxonomy-container ul li a.active {
    pointer-events: none;
    background-color: {{ $.Site.Params.theme.light.color_cta_secondary }};
    color: {{ $.Site.Params.theme.light.color_cta_secondary_font }};
    border: solid {{ $.Site.Params.theme.light.color_cta_secondary_font }} 1px;
  }
  body.dark-mode .taxonomy-container ul li a.active {
    background-color: {{ $.Site.Params.theme.dark.color_cta_secondary }};
    color: {{ $.Site.Params.theme.dark.color_cta_secondary_font }};
    border: solid {{ $.Site.Params.theme.dark.color_cta_secondary_font }} 1px;
  }
  .taxonomy-container ul li a:hover {
    filter: brightness(130%);
  }


</style>
{{ end}}
