
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #555;
  }
  
  body {
    background-color: white;
    width:100vw;
    margin-left:auto;
    margin-right:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: left;
    align-items: center;
    text-align: left;
    padding: 30px;
  }
  
  a {
    color: white;
  }
  ul{
    list-style: none;
  }
  h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald', sans-serif;
  }
  
  h3.title{
    color : #131633;
    text-transform: capitalize;
    font-size: 32px;
    margin-bottom: 35px;
    text-align: center;
  }
  hr{
    width: 150px;
    height: 2px;
    background-color: gray;
    border: 0;
    margin: 40px auto;
  }
  /*----------------------------------------
  Content
  ---------------------------------------- */

  .content{
    width: 80vw;
    justify-content: center;
    align-items: center;
  }

  /*----------------------------------------
  Table style
  ---------------------------------------- */
  th, td {
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding: 8px;
  }

  th {
    background-color: rgb(94, 94, 94);
    color: white;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: gray;
    color: #fff;
  } 

  /*----------------------------------------
  Thumbnail style
  ---------------------------------------- */

  .thumbnail-single {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-size: contain;
    height: auto; 
    width: auto; 
  }
  
  .thumbnail-single img {
    width:60vw;
    height: auto;
  }

  @media(max-width:800px){
    .thumbnail-single img{
      width:100vw;
    }
  }
  /*----------------------------------------
  HEADER
  ---------------------------------------- */
  header{
    background: rgba(0, 0, 0, 1);
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header a{
    text-decoration: none;
    color: white;
    opacity: 1;
    cursor: pointer;
  }
  
  header a{
    float: left;
    width: 100%;
    padding: 30px 15px;
    align-items: center;
  }

  header a:hover{
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.25);
    border-bottom: solid orange;
    transition: 0.2s;
    margin-bottom: -5px;
  }
  
  header ul li {
    display: inline-block;
  }
  header nav {
    font-size: 18px;
    visibility: visible;
    flex-direction: row;
    justify-content: flex-end;
    margin: -15px 10px;
  }
  
  header img {
    height: 100px;
    width: auto;
    margin: -30px 10px;
  }

  #open, .undoer{
    display: none;
  }

  @media(max-width:800px){
    header{
      flex-direction: row;
      flex-basis: 50%;
      justify-content: space-between;
    }
  
    header nav ul {
      display: flex;
      position: absolute;
      font-size: 20px;
      top: 65px;
      right: 0px;
      background-color: rgba(0, 0, 0, 1);
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
    header nav {
      width: 100%;
      opacity: 1;
      position: absolute;
      top: 28px;
      background: #333;
      visibility: hidden;
      transform: translateX(-100%);
      transition: 280ms ease-out 120ms;
    }

    #open, .undoer{
      display: flex;
      font-size: 150%;
    }

    #open:target {
      display: none;
    }
  
    :target + .undoer {
      display: flex;
    }

    :target ~ nav {
      visibility: visible;
      transform: none;
    }

    header nav ul li {
      width: 100%;
    }
    header a{
      font-size: 120%;
      padding: 15px 45vw;
      background-color: rgba(0, 0, 0, .75);
    }
    header a:hover{
      opacity: 1;
      background-color: rgba(255, 255, 255, .25);
      border-bottom: none;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    header img {
      height: 65px;
      width: auto;
      margin: -15px 0 -8px 0;
    }
  }
  /*----------------------------------------
  TOP BUTTON
  ---------------------------------------- */
  #top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
  
    border: none;
    outline: none;
    background-color: gray;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 50px;
    font-size: 50px;
    opacity: 0.7;
    transition: 0.1s;
  }
  #top-button:hover {
    background-color: #555;
    opacity: 0.9;
  }
  /*----------------------------------------
  Banner
  ---------------------------------------- */
  #banner{
    width: 100%;
    font-size: 300%;
    background-color: gray;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("{{ $.Site.Params.banner }}");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 50vh;
  }

  @media(max-width:800px){
    #banner{
      font-size: 150%;
    }
  }


  /*----------------------------------------
  HERO
  ---------------------------------------- */
  #hero{
    background-color: gray;
    color: white;
    text-align: center;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    background-image: url('https://images.pexels.com/photos/933054/pexels-photo-933054.jpeg?cs=srgb&dl=altitude-clouds-cold-933054.jpg&fm=jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  
    min-height: 100vh;
  }
  #hero h1, #hero h3{
    font-size: 28px;
    text-shadow: 2px 2px #000;
    margin-bottom: 40px;
  }
  #hero h1{
    font-size: 60px;
    margin-bottom: 15px;
  }
  #hero a.btn{
    color: white;
    background-color:#131633;
    text-decoration: none;
    padding: 20px 46px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    opacity: 1;
    border: 2px solid white;
    transition: 0.1s;
  }
  #hero a.btn:hover{
    background-color:#2196f3;
  }
  @media(max-width: 800px){
    #hero{
      min-height: 600px;
    }
    #hero h1 {
      font-size: 36px;
    }
    #hero h3 {
      font-size: 18px;
    }
    #hero a.btn{
      padding: 15px 40px;
    }
  }
  /*----------------------------------------
  ABOUT
  ---------------------------------------- */
  #about{
    padding: 10px;
    background-color: #f7f7f7;
    margin-bottom: 20px;
  
  }
  #two-cols{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .about-image{
    height: 200px;
    border-radius: 50%;
    border: 4px solid gray;
    background-color: #f7f7f7;
    overflow: hidden;
  }
   .avatar{
    height: 100%;
    width: auto;
  }
  .about-bio{
    width: 65%;
    max-width: 800px;
    line-height: 2;
    margin-left: 20px;
  }
  @media(max-width:600px){
    #about, #two-cols{
      flex-direction: column;
    }
    .about-bio{
      margin-top: 20px;
      line-height: 1.5;
      text-align: left;
    }
  }
  /*----------------------------------------
  GALLERY
  ---------------------------------------- */
  #img1{
    background-image: url('https://images.unsplash.com/photo-1459231978203-b7d0c47a2cb7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60');
  }
  #img2{
    background-image: url('https://images.unsplash.com/photo-1443890484047-5eaa67d1d630?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60');
  }
  #img3{
    background-image: url('https://images.unsplash.com/photo-1508867743401-21ad68d105b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60');
  }
  #img4{
    background-image: url('https://images.pexels.com/photos/462162/pexels-photo-462162.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
  }
  #gallery{
    background-color: white;
  }
  #gallery .grid li{
    padding: 20px;
    height: 350px;
    background-clip: content-box;
    /* background-size: cover; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
  }
  #gallery ul.grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #gallery .grid li.small{
    flex-basis: 40%;
  }
  #gallery .grid li.large{
    flex-basis: 60%;
  }
  #gallery p{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
  }
  @media(max-width: 1000px) {
    #gallery .grid li.small,
    #gallery .grid li.large{
      flex-basis: 100%;
    }
  }
  /*----------------------------------------
  ASSETS
  ---------------------------------------- */
  
  #assets{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
  }
  #assets ul.grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }
  #assets p{
    margin-bottom: 20px;
  }
  #assets ul.grid li {
    flex-basis: 25%;
    padding: 0 20px;
    margin-bottom: 60px;
  }
  .ico{
    font-size: 40px;
    color: #004C99;
    margin-bottom: 20px;
  }
  #assets ul.grid li h4{
    color: #555;
    font-size: 20px;
    margin-bottom: 10px;
  }
  #assets ul.grid li p{
    text-align: left;
    margin: 0;
  }
  @media(max-width: 1000px){
    #assets{
      padding: 0 40px;
    }
    #assets ul.grid li {
      flex-basis: 50%;
      margin-bottom: 65px;
    }
    #assets ul.grid li p{
      text-align: center;
    }
  }
  @media(max-width: 600px){
    #assets ul.grid li {
      flex-basis: 70%;
    }
  }
  /*----------------------------------------
  TESTIMONIAL
  ---------------------------------------- */
  #testimonial {
    text-align: left;
    margin: 0 auto;
  }
  #testimonial ul.grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  #testimonial ul.grid li {
    flex-basis: 50%;
    padding: 0 20px;
    margin-bottom: 40px;
  }
  #testimonial .quote-grid{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #testimonial .quote-image-frame{
    height: 100px;
    width:100px;
    border-radius: 50%;
    border: 4px solid gray;
    background-color: white;
    overflow: hidden;
    margin-bottom: 20px;
  }
  #testimonial .quote-image{
    height: 100%
  }
  #testimonial .quote{
    margin-bottom: 10px;
    font-size: 18px;
  }
  #testimonial .author{
    margin-bottom: 20px;
  }
  @media(max-width: 1000px) {
    #testimonial{
      text-align: center;
    }
    #testimonial ul.grid{
      flex-direction: column;
      margin-bottom: 20px;
    }
  }
  /*----------------------------------------
  CONTACT
  ---------------------------------------- */
  #contact{
    background-color: #f7f7f7;
  }
  #contact section.flexbox-section{
    background-color: #f7f7f7;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #contact section.flexbox-section p{
  max-width: 900px;
  text-align: center;
  margin-bottom: 35px;
  padding: 0 20px;
  line-height: 1.5;
  }
  @media(max-width:800px) {
    #contact section.flexbox-section{
      flex-direction: column;
    }
    #contact section.flexbox-section p{
      font-size: 18px;
    }
  }
  
  /*----------------------------------------
  CONTACT FORM
  ---------------------------------------- */
  #contact-form{
    background-color: #d5d9dd;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #contact-form iframe.form{
    padding: 20px 20px;
  }
  /*----------------------------------------
  FOOTER
  ---------------------------------------- */
  
  footer{
    background-color: #404040;
    color: white;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  footer p{
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(255,255,255,6);
    margin-bottom: 10px;
  }
  
  #acknowledgement{
    font-size: 9px;
    font-style: italic;
  }
  
  footer ul{
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
  }
  
  footer ul li {
    margin: 0 8px;
  }
  
  footer ul li a {
    font-size: 36px;
    cursor: pointer;
  }
  @media(max-width: 800px){
    footer {
      padding: 80px 15px;
    }
  }
  