/*----------------------------------------
  Global
  ---------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: #555;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

body {
  align-items: center;
  background-color: rgb(247, 234, 211);
  justify-content: left;
  text-align: left;
  width: 100vw;
}

a {
  color: rgb(37, 37, 172);
}

a:active {
  opacity: 0.5;
}

ul {
  list-style: square;
  margin-left: 20px;
  margin-top: 5px;
}

em {
  line-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  margin: 1rem auto;
  padding-bottom: 10px;
  padding-top: 20px;
}

h3.title {
  color: #131633;
  font-size: 32px;
  margin-bottom: 35px;
  text-align: center;
  text-transform: capitalize;
}
hr {
  background-color: gray;
  border: 0;
  height: 2px;
  margin: 20px auto;
  width: 150px;
}
img {
  image-rendering: pixelated;
}
/*----------------------------------------
  Dark Mode
  ---------------------------------------- */
body.dark-mode,
body.dark-mode main * {
  background: rgb(45, 45, 45);
  color: #f5f5f5;
}
body.dark-mode a {
  color: #f38322;
}
body.dark-mode .postfooter a {
  color: white;
}
body.dark-mode img {
  opacity: 0.7;
}

body.dark-mode img:hover {
  opacity: 1;
}

body.dark-mode .title {
  opacity: 0.8;
}
/*----------------------------------------
  Title
  ---------------------------------------- */
.title {
  background-color: #f38322;
  border-radius: 15px;
  color: white;
  text-align: center;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  width: 100%;
}
.subtitle {
  font-size: 1rem;
  margin: 1rem auto;
  padding: 1rem auto;
  text-align: center;
  width: 100%;
}
.subtitle p {
  font-style: oblique 15deg;
}
/*----------------------------------------
  Introduction
  ---------------------------------------- */
.introduction {
  font-size: 1.5rem;
  font-style: oblique 15deg;
  margin: 1rem auto;
  min-height: 3rem;
  position: relative;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  .introduction {
    font-size: 1rem;
  }
}

/*----------------------------------------
  Content
  ---------------------------------------- */

.content {
  background-color: rgb(255, 248, 235);
  margin: 0 auto;
  padding: 1rem 8vw;
  width: 70vw;
}

body.dark-mode .content {
  background-color: rgb(59, 59, 59);
}

@media only screen and (max-width: 800px) {
  .content {
    padding: 0.1rem 0.5rem;
    width: 100vw;
  }
}

/*----------------------------------------
  Share buttons
  ---------------------------------------- */
.share-button {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 100%;
}
.share-button a {
  display: inline-flex;
}

/*----------------------------------------
  Table style
  ---------------------------------------- */
th,
td {
  border-bottom: 1px solid #ddd;
  margin: auto;
  padding: 8px;
  text-align: left;
  width: 80vw;
}

th {
  background-color: rgb(94, 94, 94);
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

/* tr:nth-child(even) {
  background-color: #f2f2f2;
} */

tr:hover {
  background-color: gray;
  color: #fff;
}
/* body.dark-mode tr:nth-child(even) {
  background-color: gray;
  color: white;
} */
/* body.dark-mode tr:nth-child(even):hover, */
body.dark-mode tr:hover {
  background-color: black;
  color: white;
}
/*----------------------------------------
  flickr style
  ---------------------------------------- */
.flickr-album {
  overflow: scroll;
  position: relative;
}
.flickr-iframe {
  display: flex;
  height: auto;
  margin: 2px auto;
  min-height: 400px;
  overflow: scroll;
  position: relative;
  width: 100%;
}
.fa-flickr {
  background-color: #f38322;
  border-radius: 20px;
  color: white;
  margin: 0.6rem auto;
  padding: 0.5rem 1rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.fa-flickr:hover {
  opacity: 0.6;
}

body.dark-mode .fa-flickr {
  opacity: 0.8;
}
body.dark-mode .fa-flickr:hover {
  opacity: 1;
}

@media only screen and (max-width: 800px) {
  .flickr-iframe {
    /* max-height: 300px; */
    min-height: 50vh;
  }
}

/*----------------------------------------
  Thumbnail style
  ---------------------------------------- */

.thumbnail-single {
  align-items: center;
  background-size: contain;
  display: flex;
  height: auto;
  justify-content: center;
  margin: 1rem auto;
  text-align: center;
  width: auto;
}

.thumbnail-single img {
  background-color: #f38322;
  border-radius: 20px;
  border-style: none;
  height: auto;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .thumbnail-single img {
    border-radius: 0px;
    width: 100vw;
  }
}
/*----------------------------------------
  HEADER
  ---------------------------------------- */
header {
  align-items: center;
  background: rgba(4, 39, 78, 1);
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 0px 20px;
  position: relative;
  width: 100%;
  z-index: 10;
}

body.dark-mode header {
  background: rgba(4, 39, 78, 0.7);
}

body.dark-mode header .active {
  background-color: rgb(7, 80, 163);
}

header a:not(.logo) {
  align-items: center;
  color: white;
  cursor: pointer;
  float: left;
  opacity: 1;
  padding: 30px 15px;
  text-decoration: none;
  width: 100%;
}

header a:hover {
  background-color: rgb(7, 80, 163);
  border-radius: 50px;
  opacity: 1;
  transition: 0.4s;
}

header ul li {
  display: inline-block;
  font-size: 1.3rem;
}

header nav {
  flex-direction: row;
  font-size: 1rem;
  justify-content: flex-end;
  visibility: visible;
}

#current-language {
  display: inline-block;
  margin: 0 0;
  position: relative;
}

.other-language {
  display: none;
  margin: 0 0;
  position: relative;
  visibility: hidden;
}

.undoer-language {
  background-color: rgb(7, 80, 163);
  display: none;
  font-size: 1rem;
}

:target > .undoer-language {
  display: flex;
}
:target .current-language {
  display: none;
}

:target ~ .other-language {
  display: inline-block;
  visibility: visible;
}

#open,
.undoer {
  display: none;
}

@media only screen and (max-width: 800px) {
  header {
    flex-basis: 50%;
    flex-direction: column;
    height: 15vw;
    justify-content: space-between;
  }

  header nav ul {
    align-items: center;
    background-color: rgba(4, 39, 78, 1);
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    margin: auto;
    overflow-y: scroll;
    position: relative;
    width: 100%;
  }
  header nav {
    background: #333;
    opacity: 1;
    position: relative;
    transform: translateX(-100%);
    transition: 280ms ease-out 120ms;
    visibility: hidden;
    width: 100%;
  }

  header .active {
    background-color: rgb(7, 80, 163);
    font-size: 1.2rem;
  }

  .other-language {
    display: flex;
    visibility: visible;
  }

  #current-language,
  .current-language {
    display: none;
  }

  #open {
    display: flex;
  }

  #open,
  .undoer {
    font-size: 150%;
    height: 15vw;
    justify-content: center;
  }

  #open:target {
    display: none;
  }

  :target + .undoer {
    display: flex;
  }

  :target ~ nav {
    transform: none;
    visibility: visible;
  }

  header nav ul li {
    width: 100%;
  }
  header a {
    font-size: 90%;
    background-color: rgba(0, 0, 0, 0);
  }
  header a:active,
  header a:hover {
    background-color: rgba(4, 39, 78, 0.75);
    border-bottom: none;
    margin: 0 auto;
    opacity: 0.75;
    transition: none;
  }
}

/*----------------------------------------
  Banner
  ---------------------------------------- */
#banner {
  align-items: center;
  background-attachment: local;
  background-color: white;
  background-image: url("{{ $.Site.Params.banner }}");
  background-repeat: repeat-x;
  background-size: contain;
  color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  font-size: 300%;
  image-rendering: pixelated;
  justify-content: center;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  max-height: 20vw;
  position: relative;
  text-align: center;
  width: 100vw;
}

body.dark-mode #banner {
  background-image: url("{{ $.Site.Params.banner_dark }}");
}
.logo {
  align-self: flex-start;
  height: auto;
  margin-left: 0.5vw;
  margin-top: 1rem;
  min-width: 150px;
  position: absolute;
  top: 0;
  width: 10vw;
}

body.dark-mode .logo img {
  background-color: rgba(54, 139, 236, 0.8);
}

.logo img {
  background-color: rgba(54, 139, 236, 0.8);
  border-radius: 15px;
  height: auto;
  width: 200%;
}
.logo:hover img,
.logo:active img {
  background-color: rgba(163, 195, 231, 0.8);
}

@media only screen and (max-width: 800px) {
  #banner {
    background-size: cover;
    font-size: 150%;
    min-height: 30vw;
  }
  .logo {
    align-self: center;
    height: auto;
    min-width: 60%;
    position: absolute;
    top: -0.7rem;
  }
  .logo img {
    height: auto;
    width: 100%;
  }
}

/*----------------------------------------
  Overlay
  ---------------------------------------- */
.overlay {
  background-color: #ffffff;
  border-radius: 20px;
  color: black;
  font-size: 1.5rem;
  height: 100%;
  opacity: 0;
  padding: 25% 1rem;
  overflow: scroll;
  position: absolute;
  text-align: center;
  top: 0;
  transition: 0.4s ease;
  width: 100%;
}
/*----------------------------------------
  List Grid
  ---------------------------------------- */
.list-grid {
  display: grid;
  gap: 1rem 1rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-content: center;
  justify-items: center;
  margin-bottom: 1vw;
}

.list-item {
  height: auto;
  min-width: 350px;
  width: 100%;
}

.list-item a {
  height: 100%;
  width: 100%;
}

.list-item + img {
  border-radius: 20px;
}

.list-item:last-child {
  margin-bottom: 3vw;
}

.list-grid > div {
  position: relative;
}

.list-thumbnail img {
  border-radius: 20px;
  height: auto;
  object-fit: contain;
  width: 100%;
}

.caption {
  color: #fff;
  font-size: 120%;
  height: 100%;
  padding: 5px 5px;
  position: absolute;
  text-align: center;
  top: 0;
  transition: 0.5s ease;
  width: 100%;
}

.caption h2 {
  background-color: #404040b4;
}

.list-grid .date {
  font-style: oblique 15deg;
  margin: 2rem auto;
  padding-left: 0.1rem;
  position: absolute;
  text-align: right;
  top: 0;
}

.list-item:hover .overlay {
  opacity: 0.75;
}

.list-item:hover .caption {
  opacity: 0;
}

.list-grid a {
  text-decoration: none;
}

@media only screen and (max-width: 800px) {
  .caption {
    height: 100%;
  }

  .overlay {
    background-color: #f8c8a1;
    border-radius: 10px;
    color: black;
    font-size: 1.1rem;
    height: 25vw;
    opacity: 1;
    padding: auto auto;
    position: relative;
    text-align: center;
    transition: none;
    /* z-index: 1; */
  }
  .list-item {
    height: 100%;
    margin: 5vw auto;
  }
  .list-grid {
    grid-template-columns: 1fr;
    margin: 3vw 0;
  }

  .list-item:hover .caption {
    opacity: 1;
  }
}

/*----------------------------------------
  Pagination
  ---------------------------------------- */
.pagination {
  margin-top: 1vw;
  position: relative;
  text-align: center;
  width: 100%;
}
.page-item {
  display: inline-block;
  font-size: 1.5rem;
  list-style: none;
  padding: 5% 2%;
}

.pagination a {
  color: #333;
}

.pagination a:hover {
  background-color: #f38322;
  border-radius: 50px;
}

.pagination .active {
  background-color: #f38322;
  border-radius: 50px;
}
.pagination .disabled {
  visibility: hidden;
}

@media only screen and (max-width: 800px) {
  .pagination {
    bottom: 0;
  }
}
/*----------------------------------------
  Post Footer
  ---------------------------------------- */
.postfooter {
  color: #333;
  color: black;
  font-size: 2vw;
  font-weight: bold;
  height: 2rem;
  margin: 2rem auto;
  position: relative;
  text-align: center;
  text-align: center;
  width: 100%;
}

.postfooter a {
  background-color: #f38322;
  border-radius: 10px;
  color: white;
  padding: 0.5rem 0.5rem;
  text-decoration: underline;
}

.postfooter a:hover,
.postfooter a:active {
  background-color: #f38322;
  opacity: 0.7;
}
body.dark-mode .postfooter {
  color: white;
}
@media only screen and (max-width: 800px) {
  .postfooter {
    margin-top: 15vw;
  }
  .postfooter a {
    font-size: 3vw;
    text-decoration: none;
  }
}

/*----------------------------------------
  FOOTER
  ---------------------------------------- */

footer {
  align-items: center;
  background-color: #404040;
  bottom: 0;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  overflow-y: auto;
  padding: 60px 0;
  position: relative;
  width: 100vw;
}

body.dark-mode footer {
  background-color: #1b1b1b;
}

footer p {
  color: rgba(255, 255, 255, 6);
  font-size: 14px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#acknowledgement {
  font-size: 9px;
  font-style: italic;
}

footer ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-bottom: 25px;
}

footer ul li {
  margin: 0 8px;
}

footer ul li a {
  color: #fff;
  cursor: pointer;
  font-size: 36px;
}
@media only screen and (max-width: 800px) {
  footer {
    bottom: 0;
    margin-top: 10vh;
    padding: 80px 15px;
    position: relative;
    width: 100vw;
  }
}
