<div id="author-{{ .bio }}">
    <div class="author-content">
        <div class="author-portrait">
        <a href="{{ absLangURL "about" }}" target="_blank" rel="noopener noreferrer">
        <img src="{{ .portrait }}" title="{{ i18n .name }}" alt="{{ i18n .name }}">
        </a>
        <div class="author-name">{{ i18n .name }}
            <span class="media">{{- partial "media.html" .context -}}</span>
        </div>
        </div>
        <div class="author-bio">{{ i18n .bio }}</div>
    </div>
</div>

<style>
    #author-{{ .bio }} {
        display: flex;
        {{/*  border-top: 1px solid {{ .Site.Params.theme.light.color_hr }};  */}}
        background-color: {{ .Site.Params.theme.light.color_content }};
        margin: 0 auto;
        min-height: 200px;
        width: 830px;
        align-items: center;
        justify-content: center;
    }
    #author-{{ .bio }} span.media {
        font-size: 1.5rem;
        display: block;
    }
    body.dark-mode #author-{{ .bio }} {
        background-color: {{ .Site.Params.theme.dark.color_content }};
        border-top: 1px solid {{ .Site.Params.theme.dark.color_hr }};
    }
    #author-{{ .bio }} span a {
        color: {{ $.Site.Params.theme.light.color_font_default }};
    }
    body.dark-mode #author-{{ .bio }} span a {
        color: {{ $.Site.Params.theme.dark.color_font_default }};
    }
    #author-{{ .bio }} span ul {
        margin-left: 0;
        display: inline-block;
    }
    #author-{{ .bio }} span ul li {
        display: inline-block;
    }
    .author-name {
        font-size: 1rem;
        font-weight: bolder;
        text-align: center;
        margin: 10px;
    }
    .author-content {
        color: {{ .Site.Params.theme.light.color_overlay_font }};
        border-radius: 15px;
        display: inline-flex;
        align-items: center;
        width: 100%;
        margin: 15px;
    }
    body.dark-mode .author-content {
        color: {{ .Site.Params.theme.dark.color_overlay_font }};
    }
    .author-bio {
        margin: 20px;
        border: solid 2px {{ .Site.Params.theme.light.color_overlay_font }};
        padding: 10px;
        border-radius: 10px;
    }
    body.dark-mode .author-bio {
        border: solid 2px {{ .Site.Params.theme.dark.color_overlay_font }};
    }
    .author-portrait {
        margin: 20px;
    }
    #author-{{ .bio }} img {
        height: 130px;
        width: 130px;
        border-radius: 100px;
        object-fit: cover;
    }
    body.dark-mode #author-{{ .bio }} img:hover {
        filter: brightness(100%);
    }
    @media only screen and (max-width: 830px) {
        #author-{{ .bio }} {
            width: 100%;
        }
        .author-content {
            display: block;
            align-items: center;
            width: 100%;
        }
        #author-{{ .bio }} img {
            margin: auto;
            display: block;
        }
      }
</style>
