<ul class="breadcrumb">
  {{ if eq .Kind "page" }}
    {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
  {{ else }}
  <li>
  <a href="{{ .Site.Home.RelPermalink }}">
    <label title="{{ i18n "home" }}"><i class="fa-solid fa-house-chimney"></i> ❱</label>
  </a>
  <li><a href="{{ relLangURL "blog" }}">
    <label title="{{ i18n "blog" }}">{{ i18n "blog" }} ❱</label>
  </a>
  </li>
  </li>
  {{ end }}
  </ul>
  
  {{ define "breadcrumbnav" }}
  {{ if .p1.Parent }}
      {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )}}
  {{ else if not .p1.IsHome }}
      {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )}}
  {{ end }}
    <li{{ if eq .p1 .p2 }} class="active"{{ end }}>
      <a href="{{ .p1.RelPermalink }}">
        {{ if eq (lower (.p1.Title)) ("home")}}
        <label title="{{ i18n "home" }}"><i class="fa-solid fa-house-chimney"></i> ❱</label>
        {{ else if eq (i18n (lower (.p1.Title))) ("")}}
        <label title="{{ .p1.Title }}">{{ .p1.Title | truncate (15) }} ❱</label>
        {{ else }}
        <label title="{{ i18n (lower (.p1.Title)) }}">{{ i18n (lower (.p1.Title)) | truncate (15) }} ❱</label>
        {{ end }}
      </a>
    </li>
  {{ end }}
  <style>
    {{/*  .breadcrumb {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      margin: auto 0;
    }  */}}

    {{/*  .breadcrumb li {
      display: inline;
      white-space: nowrap;
    }
    
    .breadcrumb li + li:before {
      content: ">";
      padding: 1rem .3rem 0rem .3rem;
    }  */}}

    {{/*  CSS from https://css-tricks.com/triangle-breadcrumbs/  */}}

    .breadcrumb { 
      list-style: none; 
      overflow: hidden; 
      font: 1rem Sans-Serif;
      margin-left: 0;
      border-radius: 0px;
    }
    @media only screen and (max-width: 830px) {
      .breadcrumb {
      font: .8rem Sans-Serif;
      }
    }
    .breadcrumb li { 
      float: left;
      padding: 0px;
    }
    .breadcrumb li a label {
      cursor: pointer;
    }
    .breadcrumb li a {
      color: {{ $.Site.Params.theme.light.color_breadcrumb_font }};
      text-decoration: none; 
      padding: .5rem 1rem .5rem 1rem;
      background: hsla({{ $.Site.Params.theme.light.color_breadcrumb_hue }},85%,35%,1); 
      position: relative; 
      display: block;
      float: left;
    }

    body.dark-mode .breadcrumb li a {
      color: {{ $.Site.Params.theme.dark.color_breadcrumb_font }};
      background: hsla({{ $.Site.Params.theme.dark.color_breadcrumb_hue }},5%,35%,1); 
    }


    .breadcrumb li:first-child a {
      padding-left: 10px;
    }
  .breadcrumb li:nth-child(2) a       { background:        hsla({{ $.Site.Params.theme.light.color_breadcrumb_hue }},85%,45%,1); }
  .breadcrumb li:nth-child(2) a:after { border-left-color: hsla({{ $.Site.Params.theme.light.color_breadcrumb_hue }},85%,45%,1); }
  .breadcrumb li:nth-child(3) a       { background:        hsla({{ $.Site.Params.theme.light.color_breadcrumb_hue }},85%,55%,1); }
  .breadcrumb li:nth-child(3) a:after { border-left-color: hsla({{ $.Site.Params.theme.light.color_breadcrumb_hue }},85%,55%,1); }
  .breadcrumb li:nth-child(4) a       { background:        hsla({{ $.Site.Params.theme.light.color_breadcrumb_hue }},85%,65%,1); }
  .breadcrumb li:nth-child(4) a:after { border-left-color: hsla({{ $.Site.Params.theme.light.color_breadcrumb_hue }},85%,65%,1); }
  .breadcrumb li:nth-child(5) a       { background:        hsla({{ $.Site.Params.theme.light.color_breadcrumb_hue }},85%,75%,1); }
  .breadcrumb li:nth-child(5) a:after { border-left-color: hsla({{ $.Site.Params.theme.light.color_breadcrumb_hue }},85%,75%,1); }

  body.dark-mode .breadcrumb li:nth-child(2) a       { background:        hsla({{ $.Site.Params.theme.dark.color_breadcrumb_hue }},15%,25%,1); }
  body.dark-mode .breadcrumb li:nth-child(2) a:after { border-left-color: hsla({{ $.Site.Params.theme.dark.color_breadcrumb_hue }},15%,25%,1); }
  body.dark-mode .breadcrumb li:nth-child(3) a       { background:        hsla({{ $.Site.Params.theme.dark.color_breadcrumb_hue }},15%,35%,1); }
  body.dark-mode .breadcrumb li:nth-child(3) a:after { border-left-color: hsla({{ $.Site.Params.theme.dark.color_breadcrumb_hue }},15%,35%,1); }
  body.dark-mode .breadcrumb li:nth-child(4) a       { background:        hsla({{ $.Site.Params.theme.dark.color_breadcrumb_hue }},15%,45%,1); }
  body.dark-mode .breadcrumb li:nth-child(4) a:after { border-left-color: hsla({{ $.Site.Params.theme.dark.color_breadcrumb_hue }},15%,45%,1); }
  body.dark-mode .breadcrumb li:nth-child(5) a       { background:        hsla({{ $.Site.Params.theme.dark.color_breadcrumb_hue }},15%,55%,1); }
  body.dark-mode .breadcrumb li:nth-child(5) a:after { border-left-color: hsla({{ $.Site.Params.theme.dark.color_breadcrumb_hue }},15%,55%,1); }

    .breadcrumb li a:hover { 
      background: hsla({{ $.Site.Params.theme.light.color_breadcrumb_hue }}, 85%, 25%, 1);
    }

    body.dark-mode .breadcrumb li a:hover { 
      background: hsla({{ $.Site.Params.theme.dark.color_breadcrumb_hue }}, 5%, 25%, 1); 
    }

    .breadcrumb li a:hover:after { 
      border-left-color: hsla({{ $.Site.Params.theme.light.color_breadcrumb_hue }}, 85%, 25%, 1) !important; 
    }

    body.dark-mode .breadcrumb li a:hover:after { 
      border-left-color: hsla({{ $.Site.Params.theme.dark.color_breadcrumb_hue }}, 5%, 25%, 1) !important; 
    }
  </style>