<ul class="breadcrumb">
    {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
  </ul>
  
  {{ define "breadcrumbnav" }}
    {{ if .p1.Parent }}
      {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )}}
    {{ else if not .p1.IsHome }}
      {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )}}
    {{ end }}
    <li{{ if eq .p1 .p2 }} class="active"{{ end }}>
      <a href="{{ .p1.RelPermalink }}">
        {{ if eq (i18n .p1.Title) ("")}}
        {{ .p1.Title }}
        {{ else }}
        {{ i18n .p1.Title }}
        {{ end }}
      </a>
    </li>
  {{ end }}
  <style>
    .breadcrumb {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      margin: auto 0;
    }
    
    .breadcrumb li {
      display: inline;
      white-space: nowrap;
    }
    
    .breadcrumb li + li:before {
      content: ">";
      padding: 1rem .3rem 0rem .3rem;
    }
  </style>