{{ if .Site.IsMultiLingual }}
    {{ range .Site.Languages }}
    {{ if eq . $.Site.Language }}
    <li id="current-language">
        <a href="#current-language" class="current-language" title="{{ i18n "ariaLanguage" }}{{ .LanguageName }}">{{ .LanguageName }} ᐁ</a>
        <ul class="dropdown-language">
            <li class="selected-language">
                <a class="selected-language-link" title="{{ i18n "ariaLanguage" }}{{ .LanguageName }}">{{ .LanguageName }} ᐁ</a>
            </li>
            {{ range $.Translations }}
            <li class="other-language">
                <a title="{{ .Language.LanguageName }}" href="{{ .Permalink }}" aria-label="{{ i18n "ariaTranslation" }}{{ .Language.LanguageName }}">{{ .Language.LanguageName }}</a>
            </li>
            {{ end }}
        </ul>
    </li>
    {{ end }}
    {{ end }}
{{ end }}

<style>
    #current-language {
        display: inline-block;
    }
    .dropdown-language {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        background: {{ .Site.Params.theme.light.color_header }};
        margin-left: auto;
        display: flex;
        top: calc(1rem + 70px);
        z-index: 10;
        flex-direction: column;
    }
    body.dark-mode .dropdown-language {
        background-color: rgba(44, 44, 44, 1);
    }
    .selected-language {
        display: none;
    }

    .other-language, .selected-language {
        width: 100%;
        height: auto;
    }
    #current-language:hover + li .dropdown-language,
    #current-language:hover > .dropdown-language,
    .dropdown-language:hover {
        visibility: visible;
        opacity: 1;
    }
    @media only screen and (max-width: 830px) {
        .other-language, .selected-language {
            visibility: inherit;
          }
        .dropdown-language {
            top: 0;
            position: relative;
            margin-left: 0;
            visibility: inherit;
            opacity: 1;
        }
        .selected-language {
            display: block;
            opacity: .7;
            pointer-events: none;
            text-align: right;
        }
        .selected-language-link, .current-language {
            display: block;
            background-color: rgba(2, 18, 37, .7);
        }
        body.dark-mode .selected-language-link {
            background-color: #1a1919;
        }
        .current-language {
            display: none;
        }
        #current-language {
            display: flex;
            opacity: 1;
        }
    
        body.dark-mode #current-language,
        body.dark-mode .current-language {
            background-color: #1a1919;
        }
    }
</style>
