{{ if .Site.IsMultiLingual }}
<ul>
    {{ range .Site.Languages }}
    {{ if eq . $.Site.Language }}
    <li id="current-language">
        <a href="#current-language" class="current-language" title="{{ i18n "ariaLanguage" }}{{ .LanguageName }}">>{{ .LanguageName }}</a>
        <a href="#undoer-language" class="undoer-language .undoer" title="close">>{{ .LanguageName | truncate 2}}</a>
    </li>
    {{ end }}
    {{ end }}

    {{ range $.Translations }}
        <li class="other-language">
            <a title="{{ .Language.LanguageName }}" href="{{ .Permalink }}" aria-label="{{ i18n "ariaTranslation" }}{{ .Language.LanguageName }}">{{ .Language.LanguageName }}</a>
        </li>
    {{ end }}
</ul>
{{ end }}