<div class="list-item">
    <a href="{{.RelPermalink}}">
    <div class="list-thumbnail">
        {{- partial "thumbnail.html" . -}}
    </div>
    <div class="caption">
        <h2>{{.Title}}</h2>
    </div>
    <div class="overlay">
          {{- partial "subtitle.html" . -}}
          <hr>
          {{.Date | time.Format ":date_full" }}
    </div>
    </a>
</div>
<style>
    .list-grid {
        display: grid;
        gap: 1rem 1rem;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        justify-content: center;
        justify-items: center;
        margin-bottom: 1vw;
      }
      
      .list-item {
        height: auto;
        min-width: 350px;
        width: 100%;
      }
      
      .list-item a {
        height: 100%;
        width: 100%;
      }
      
      .list-item + img {
        border-radius: 20px;
      }
      
      .list-grid > div {
        position: relative;
      }
      
      .list-thumbnail {
        max-height: 300px;
      }

      .list-thumbnail img {
        border-radius: 20px;
        height: 300px;
        max-height: 300px;
        object-fit: cover;
        width: 100%;
        overflow-y: hidden;
      }
      
      .caption {
        color: {{ $.Site.Params.theme.light.color_list_item_font }};
        font-size: 120%;
        height: 100%;
        padding: 10% 0;
        position: absolute;
        text-align: center;
        top: 0;
        transition: 0.5s ease;
        width: 100%;
      }
      
      .caption h2 {
        background-color: {{ $.Site.Params.theme.light.color_list_item_title_background }};
      }
      
      .list-grid .date {
        font-style: oblique 15deg;
        margin: 2rem auto;
        padding-left: 0.1rem;
        position: absolute;
        text-align: right;
        top: 0;
      }
      
      .list-item:hover .overlay {
        opacity: 0.75;
      }
      
      .list-item:hover .caption {
        opacity: 0;
      }
      
      .list-grid a {
        text-decoration: none;
      }
      
      @media only screen and (max-width: 830px) {
        .caption {
          height: 100%;
        }
      
        .overlay {
          display: none;
        }
      
        .list-item:hover .caption {
          opacity: 1;
        }
        .list-thumbnail img {
          max-height: 250px;
        }
      }
      
</style>