
<!-- Create a menu from the "Fixed Pages" and "Menu Pages" (identified by "" and "p",
  respectively) sections in Netlify CMS -->
  <a href="#open" id="open">☰</a>
  <a href="#close" class="undoer">✕</a>
<nav>
  <ul>
    <li title="{{ i18n "dark_mode" }}">{{- partial "dark-mode.html" . -}}</li>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main.ByWeight }}
    <li><a class="{{ if ($currentPage.HasMenuCurrent "main" .) }}active{{end}}
                  {{ if ($currentPage.IsMenuCurrent "main" .) }} active{{end}}"
      href="{{ .URL | absLangURL }}" title="{{ .Title }}">{{ .Name }}</a></li>
    {{ end }}
    <li>{{- partial "language-switcher.html" . -}}</li>
  </ul>
</nav>