
<!-- Create a menu from the "Fixed Pages" and "Menu Pages" (identified by "" and "p",
  respectively) sections in Netlify CMS -->
  {{ with .Site.Params.favicon }}
  <div class="logo">
    <a href="/"><img class="favicon" src="{{- . -}}"></a>
  </div>
  {{ end }}
  {{ with .Site.Params.logo }}
  <div class="logo">
    <a href="/"><img src="{{- . -}}"></a>
  </div>
  {{ end }}
  {{- partial "dark-mode.html" . -}}
  <a href="#open" id="open">☰</a>
  <a href="#close" class="undoer">✕</a>

<nav>
  <ul>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main.ByWeight }}
    <li><a class="{{ if ($currentPage.HasMenuCurrent "main" .) }}active{{end}}
                  {{ if ($currentPage.IsMenuCurrent "main" .) }} active{{end}}"
      href="{{ .URL | absLangURL }}" title="{{ .Title }}">{{ i18n (lower (.Name)) }} {{ if .HasChildren }} <span class="arrow">ᐁ</span>{{ end }}</a>
      {{ if .HasChildren }}
      <ul class="sub-menu">
        {{ range .Children }}
          <li><a class=""
            href="{{ .URL | absLangURL }}" title="{{ .Title }}">
            {{ i18n (lower (.Name)) }}</a>
          </li>
        {{ end }}
      </ul>
      {{ end }}
    </li>
    {{ end }}
    {{- partial "language-switcher.html" . -}}
  </ul>
</nav>

<style>
  header {
    justify-content: flex-start;
    background: {{ $.Site.Params.theme.light.color_header }};
    display: flex;
    padding: 0px 20px;
    position: relative;
    width: 100%;
  }
  
  body.dark-mode header {
    background-color: {{ $.Site.Params.theme.dark.color_header }};
  }
  
  header a {
    align-items: center;
    color: {{ $.Site.Params.theme.light.color_header_font }};
    cursor: pointer;
    float: left;
    opacity: 1;
    padding: 30px 15px;
    text-decoration: none;
    width: 100%;
  }
  body.dark-mode a {
    color: {{ $.Site.Params.theme.dark.color_header_font }};
  }
  header nav a:hover {
    background-color: {{ $.Site.Params.theme.light.color_header_highlight }};
    border-radius: 50px;
    opacity: 1;
    transition: 0.4s;
  }
  
  body.dark-mode header nav a:hover {
    background-color: {{ $.Site.Params.theme.dark.color_header_highlight }};
    border-radius: 50px;
    opacity: 1;
    transition: 0.4s;
  }
  
  header ul li {
    display: inline-block;
  }
  
  header nav {
    margin-left: auto;
    margin-right: 5vw;
    align-self: center;
    flex-direction: row;
    display: inline-block;
    visibility: visible;
  }
  #open,
  .undoer {
    display: none;
  }  
  .logo {
    height: 100%;
    position: relative;
    align-self: center;
  }
  header .logo a {
    display: inline;
    margin: 5px 0;
    padding: 0 0;
    height: 80%;
    border-radius: 15px;
  }

  .logo img {
    text-align: center;
    opacity: 1;
    max-width: 300px;
  }
  body.dark-mode .logo img {
    opacity: 1;
  }

  .favicon {
    width: 40px;
    margin: 1px;
  }

  .logo:hover a,
  .logo:active a,
  .logo a:hover {
    background-color: none;
  }

  header nav .sub-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background: {{ .Site.Params.theme.light.color_header }};
    margin-left: auto;
    display: flex;
    top: calc(1rem + 70px);
    z-index: 10;
    flex-direction: column;
  }
  body.dark-mode header nav .sub-menu {
    background: {{ .Site.Params.theme.dark.color_header }};
  }
  header nav a:hover + .sub-menu,
  header nav a + .sub-menu:hover {
    visibility: visible;
    opacity: 1;
  }
  .arrow {
    visibility: visible;
  }
  @media only screen and (max-width: 830px) {
    header {
      top: 0;
      position: fixed;
      flex-direction: row;
      height: 50px;
      {{/*  justify-content: safe;  */}}
      width: 100vw;
      z-index: 1000;
      opacity: 1;
    }
    header .active {
      background-color: {{ $.Site.Params.theme.light.color_header_highlight }};
    }
    
    body.dark-mode header .active {
      background-color: {{ $.Site.Params.theme.dark.color_header_highlight }};
    }
    header nav ul {
      align-items: center;
      background-color: {{ $.Site.Params.theme.light.color_header }};
      display: flex;
      flex-direction: column;
      font-size: 1.2rem;
      margin: 0 0 10vh 0;
      position: relative;
      width: 100%;
    }

    header nav > ul {
      overflow-y: scroll;
    }
  
    body.dark-mode header nav ul {
      background-color: {{ $.Site.Params.theme.dark.color_header }};
    }
  
    header nav {
      opacity: 1;
      position: fixed;
      visibility: hidden;
      width: 100vw;
      align-self: center;
      display: none;
      top: 50px;
      left: 0;
      z-index: 1000;
      max-height: 100%;
    }
  
    #open {
      display: flex;
    }

    .undoer {
      display: none;
    }
    #open,
    .undoer {
      width: auto;
      font-size: 150%;
      height: 100%;
      justify-self: flex-end;
      margin-left: calc(100vw - 320px);
      padding: 0 20px;
    }
  
    #open:target {
      display: none;
      visibility: visible;
    }
  
    #open:target + .undoer {
      display: flex;
    }
  
    :target ~ nav {
      visibility: visible;
      display: flex;
    }
  
    header nav ul li {
      width: 100%;
    }
    header nav ul li a {
      text-align: right;
    }
    header a:active,
    header a:hover {
      background-color: {{ $.Site.Params.theme.light.color_header_highlight }};
      border-bottom: none;
      opacity: 0.75;
      transition: none;
    }
  
    body.dark-mode header a:active,
    body.dark-mode header a:hover {
      background-color: {{ $.Site.Params.theme.dark.color_header_highlight }};
    }
    .logo {
      display: block;
      align-self: left;
    }
    .logo a {
      width: auto;
    }
    .logo img {
      max-height: 60%;
      width: auto;
      align-self: center;
      margin: 10px 0;
    }
    .arrow {
      visibility: hidden;
    }
    header nav .sub-menu {
      display: flex;
      position: relative;
      visibility: visible;
      top: 0;
      opacity: 1;
      margin: 0;
      background-color: none;
      font-size: .8em;
    }
  }

</style>