{{/*  Search Bar  
  This partial depends on assets/js/search.js
  NPM dependencies:
    - fuse.js@6
  */}}
<span id="search">
  <input type='search' placeholder='{{ i18n "search" | default "Search" }}'>
  <div></div>
</span>

{{/*  Define BASE_URL to make sure search.js finds the JSON index
Define REMOVE_FORM_ON_SUBMISSION in case the JSON index is missing  */}}
{{ $defines := dict 
  "REMOVE_FORM_ON_SUBMISSION" (default "false" 
          (site.Param "RemoveFormOnSubmission")) 
  "BASE_URL" (print "\"" site.BaseURL "\"") }}     

{{/*  Build JS from assets  */}}
{{ $js := resources.Get "/js/index.js" 
  | js.Build (dict "defines" $defines )}}