<script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
<script>
  if (body.classList.contains('darkMode') || localStorage.getItem('darkMode')) {
    kofiWidgetOverlay.draw('fabandmina', {
        'type': 'floating-chat',
        'floating-chat.donateButton.text': '{{ i18n "donate" }}',
        'floating-chat.donateButton.background-color': '{{ .Site.Params.theme.dark.color_cta_primary }}',
        'floating-chat.donateButton.text-color': '{{ .Site.Params.theme.dark.color_cta_primary_font }}'
      });
    }
  else {
    kofiWidgetOverlay.draw('fabandmina', {
        'type': 'floating-chat',
        'floating-chat.donateButton.text': '{{ i18n "donate" }}',
        'floating-chat.donateButton.background-color': '{{ .Site.Params.theme.light.color_cta_primary }}',
        'floating-chat.donateButton.text-color': '{{ .Site.Params.theme.light.color_cta_primary_font }}'
      });
    }
</script>