<!--This partial only gets written when you have thumbnail url set in your frontmatter-->
{{ with .Params.thumbnail }}
<img src="{{- . -}}">
{{ end }}

<style>
    .thumbnail-single {
        align-items: center;
        background-size: contain;
        display: flex;
        height: auto;
        justify-content: center;
        margin: 1rem auto;
        text-align: center;
        width: auto;
      }
      
      .thumbnail-single img {
        border-radius: 20px;
        border-style: none;
        height: auto;
        max-height: 600px;
        width: 100%;
        overflow-y: hidden;
        object-fit: cover;
      }
      
      @media only screen and (max-width: 830px) {
        .thumbnail-single img {
          border-radius: 0px;
          width: 100vw;
        }
      }
      
</style>