{{ with $.Params.Author }}
<span class="written-by">
    — 
    {{ i18n "written_by" }}
    <a title="
    {{if eq . "fab"}}
    {{ i18n "about_fab" }}
    {{else if eq . "mina"}}
    {{ i18n "about_mina" }} 
    {{ end }}
    "
    href="{{ absLangURL "about" }}#{{.}}" target="_blank" rel="noopener noreferrer">{{i18n .}}</a> -
    {{ with $.Params.Date }}
    {{ . | time.Format ":date_long" }}
    {{ end }}  
    <span class="media">
    | {{- partial "media.html" $ -}}
    </span>
</span>


<style>
    span.written-by {
        display: inline-block;
        font-style: normal;
        font-size: .8rem;
        font-weight: normal;
        font-family: "Roboto", sans-serif;
    }
    span.written-by span.media {
        font-size: 1.2rem;
    }
    span.written-by a {
        color: {{ $.Site.Params.theme.light.color_link }};
    }
    body.dark-mode span.written-by a {
        color: {{ $.Site.Params.theme.dark.color_link }};
    }
    span.written-by ul {
        margin-left: 0;
        display: inline-block;
    }
    span.written-by ul li {
        display: inline-block;
    }
</style>
{{ end }}
